*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

body{
    background-color: rgb(61, 53, 53);
}
a:hover{
    text-decoration: underline;
}

a:focus{
    color: yellow;
    text-decoration: line-through;
}

header {
    background-color: #4e0401;
    width: 500px;
    border-radius: 20px;
    margin-left: 7.5%;
    padding: 5px;
    position: relative;
}

header a, h1{
    color: #f3f3f3;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}

p{
    color: #f3f3f3;
    padding: 10px;
    text-align: justify;
    background-color: rgb(26, 25, 25);
}

nav a, ol{
    color: #f3f3f3;
}

main{
    float: right;
    margin-left: 60%;
    margin-top: 0;
    
}

nav{
    background-color: #000;
    width: 40%;
    padding: 10px;
    border: 10px;
    border-color: #fff;
    border-radius: 30px;
    float: left;
    margin: 10px;
}

a{
    color: #f3f3f3;
}

ul>li{
    color: #f3f3f3;
}

main>ol>li:first-of-type{
    color: #000;
}

ul>li:first-child{
    color: #000;
}

ol, ul{
    text-align: center;
    padding-left: 0;
    list-style-position: inside;
}


#bornToDie {
    color: #f3f3f3;
    background-color: rgba(38, 136, 136, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#bornToDie:hover {
    background-color: rgba(38, 136, 136);
}

#paradise{
    color: #f3f3f3;
    background-color: rgba(250, 225, 155, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#paradise:hover{
    background-color: rgba(250, 225, 155);
}

#Ultraviolence{
    color: #f3f3f3;
    background-color: rgba(67, 73, 73, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#Ultraviolence:hover{
    background-color: rgba(67, 73, 73);

}

#Honeymoon{
    color: #f3f3f3;
    background-color: rgba(89, 143, 143, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#Honeymoon:hover{
    background-color: rgba(89, 143, 143);
}

#lustForLife{
    color: #f3f3f3;
    background-color: rgba(197, 197, 197, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#lustForLife:hover{
    background-color: rgba(197, 197, 197);
}

#NFR{
    color: #f3f3f3;
    background-color: rgba(55, 179, 76, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#NFR:hover{
    background-color: rgba(55, 179, 76);
}

#COTCC{
    color: #f3f3f3;
    background-color: rgba(34, 34, 34, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#COTCC:hover{
    background-color: rgba(34, 34, 34);
}

#BB{
    color: #f3f3f3;
    background-color: rgba(104, 39, 14, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#BB:hover{
    background-color: rgba(104, 39, 14);
}

#Didy{
    color: #f3f3f3;
    background-color: rgb(175, 158, 0, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#Didy:hover{
    background-color: rgb(175, 158, 0);
}

#lasso{
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0.726);
    width: 300px;
    padding: 10px;
    border-radius: 30px;
}

#lasso:hover{
    background-color: rgba(0, 0, 0);
}

.coll1{
    float: left;
    width: 50%;
}

.coll2{
    float: right;
    width: 40%;
    margin-right: 10%;
    margin-top: 8%;
}

.tituloAlbum{
    color: #f3f3f3;
    text-align: center;
}

.divFooter{
    background-color: rgba(67, 73, 73, 0.726);
    height: 50px;
    text-align: center;
}

div>image{
    transform: rotate(0.5turn);
}

.luv{
    transform: rotate(-22deg);
}
