*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}


header{
    background-color: #117688;
    width: 100%;
    color: whitesmoke;
}

header #titulo{
    text-align: center;
}

.linha{
    width: 100%;
    background-color: #0c3c44;
}

.linha::after{
    content: "";
    clear: both;
    display: table;
}

.col1{
    width: 50%;
    float: left;
}

.col2{
    width: 50%;
    float: right;
}

#musicasDoAlbum{
    color: whitesmoke;  
}
/*Linha 2*/
.linha2 {
    width: 100%;
    background-color: #3c6971;
}

.linha2::after {
    content: "";
    clear: both;
    display: table;
}

.col3{
    width: 30%;
    float: left;
    color:whitesmoke;
    text-align: center;
}

.col_mid{
    width: 40%;
    float: right;
    float: left;
    padding: 10px;
}

.col4{
    width: 30%;
    float: right;
}
