*{
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
/* IPHONE SE*/
@media only screen and (min-width:375px){
    .col1{
        width: 100%;
    }
    
    .col2{
        width: 100%;
    }

    .col3{
        width: 100%;
        color:whitesmoke;
        text-align: center;
    }
    
    .col_mid{
        width: 100%;
        padding: 10px;
    }
    
    .col4{
        width: 100%;
    }
}

/* IPAD AIR */
@media only screen and (min-width:820px){
    .col1{
        width: 50%;
        float: left;
    }
    
    .col2{
        width: 50%;
        float: right;
    }

    .col3{
        width: 50%;
        float: left;
        color:whitesmoke;
        text-align: center;
    }
    
    .col_mid{
        width: 50%;
        float: right;
        padding: 10px;
    }
    
    .col4{
        width: 100%;
    }
}

/* L LAPTOP */
@media only screen and (min-width:1440px){
    .col1{
        width: 50%;
        float: left;
    }
    
    .col2{
        width: 50%;
        float: right;
    }

    .col3{
        width: 33.33%;
        float: left;
        color:whitesmoke;
        text-align: center;
    }
    
    .col_mid{
        width: 33.33%;
        float: right;
        float: left;
        padding: 10px;
    }
    
    .col4{
        width: 33.33%;
        float: right;
    }
}

header{
    background-color: #117688;
    width: 100%;
    animation: 12s linear 0s infinite psychedelic;
}

@keyframes psychedelic{
    from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
}

#titulo{
    text-align: center;
}

.linha{
    width: 100%;
    background-color: #0c3c44;
}

.linha::after{
    content: "";
    clear: both;
    display: table;
}

#musicasDoAlbum{
    color: whitesmoke;  
    
}
/*Linha 2*/
.linha2 {
    width: 100%;
    background-color: #3c6971;
}

.linha2::after {
    content: "";
    clear: both;
    display: table;
}

footer{
    width: 100%;
    background-color: rgb(127, 179, 224);
    color: #111111;
    text-align: center;
    padding: 30px;
}

